.portfolio-container{
    font-family: "Michroma", sans-serif;
    font-weight: 700;
    /* border: 1px solid red; */
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 100%; */
    /* width: 100%; */
}
.portfolio-project{
    border: 2px solid rgba(255, 247, 0, 0.399);
    height: 500px;
    /* height: 100%; */
    width: 80%;
    
}

.projects iframe{
    /* border: 2px solid green;
    height: 100%;
    width: 100%; */
}

