.project {
  /* background-color: rgba(255, 0, 0, 0.206); */
  height: 100%;
}
.project-header {
  height: auto;
}
.project-card-container {
  /* background-color: green; */
  display: flex;
  align-items: center;
  height: 94%;
  /* border: 2px solid red; */
}

.project-card-image {
  /* border: 2px solid red; */
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/public/images/Screenshot-dev.png");
  height: 90%;
  width: 37%;
}

.project-card-text {
  background-color: inherit;
  border: 1px solid rgba(0, 149, 255, 0.891);
  padding: 20px;
  /* background-color: rgba(128, 0, 128, 0.697); */
  margin-left: -20px;
  height: 70%;
  width: 63%;
}
