@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
  padding: 0;
  margin: 0;
}
.App {
  /* background-image: url("/public/images/unsplash.jpg"); */
  /* background-position: 0%; */
  width: 100vw;
  height: 100vh;
}


.navbar-component-container {
  height: 120px;
  width: 100vw;
}

.about-row {
  background-color: purple;
  /* border: 1px solid purple; */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 600px;
  padding-top: 50px;
  padding-bottom: 50px;

  width: 100vw;
}

.about-component-container {
  height: 100%;
  width: 90%;
}

.portfolio-row{
  /* border: 2px solid green; */
  height: 500px;
  width: 100vw;
}