*{
  padding: 0;
  margin: 0;
}
.App {
  /* background-image: url("/public/images/unsplash.jpg"); */
  /* background-position: 0%; */
  width: 100vw;
  height: 100vh;
}


.navbar-component-container {
  height: 120px;
  width: 100vw;
}

.about-component-container {
  border: 2px solid red;
  margin-left: 20px;
  margin-top: 30px;
  height: 600px;
  width: 500px;
}

